## Python List Comprehension

### 1. Lists
Mutable, ordered collections that allow duplicates and different types.

In [103]:
myList = [0, 1, 1, 2, 3, 5, 8.0, "thirteen", [21, "twenty-one"]]

print(myList)

print(type(myList))

[0, 1, 1, 2, 3, 5, 8.0, 'thirteen', [21, 'twenty-one']]
<class 'list'>

#### Stuff to do with lists

In [104]:
# Get an item (by its offset)
print(myList[2])

# Get multiple items (slice)
print(myList[5:8])
print(myList[::2])

# Get the type of an item
print(type(myList[2]))

# Combine lists
print(myList + ["hey", "new", "list", "elements"])

# Change an item
myList[4] = "I am new"
print(myList)

# Delete an item
del myList[0] # del is a statement
myList.remove("I am new") # by value (only the first one found)
print(myList)

# Get length
len(myList)

# sort (alphabetically or in ascending order)
numbers = [5,2,9,1]
numbers.sort(reverse=True)
print(numbers)

# Delete all items
myList.clear()
print(myList)

1
[5, 8.0, 'thirteen']
[0, 1, 3, 8.0, [21, 'twenty-one']]
[[21, 'twenty-one'], 'thirteen', 8.0, 5, 3, 2, 1, 1, 0]
<class 'float'>
[[21, 'twenty-one'], 'thirteen', 8.0, 5, 3, 2, 1, 1, 0, 'hey', 'new', 'list', 'elements']
[[21, 'twenty-one'], 'thirteen', 8.0, 5, 'I am new', 2, 1, 1, 0]
['thirteen', 8.0, 5, 2, 1, 1, 0]
[9, 5, 2, 1]
[]

#### Append elements to a list

In [26]:
myList.append(34)
print(myList)

[0, 1, 1, 2, 3, 5, 8.0, 'thirteen', [21, 'twenty-one'], 34]

### 2. For loops

In [59]:
numbers = [1, 2, 3, 4]

for i in numbers:
    a = i**2
    print(10 + a)
    print("I have already looped through " + str(i) + "\n")

11
I have already looped through 1

14
I have already looped through 2

19
I have already looped through 3

26
I have already looped through 4

#### Creating a list with a for loop

In [53]:
mybignumbers = list()

for i in numbers:
    mybignumbers.append(i + 10)

mybignumbers

[11, 12, 13, 14]

In [60]:
myListTypes = []

for i in range(len(myList)):
    myListTypes.append(type(myList[i]))
    
print(myListTypes)

[<class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'int'>]

We can make these two lists columns of a dataframe.

In [61]:
import pandas as pd
pd.DataFrame({"value": myList,
              "type": myListTypes})

              value             type
0                 0    <class 'int'>
1                 1    <class 'int'>
2                 1    <class 'int'>
3                 2    <class 'int'>
4                 3    <class 'int'>
5                 5    <class 'int'>
6                 8  <class 'float'>
7          thirteen    <class 'str'>
8  [21, twenty-one]   <class 'list'>
9                34    <class 'int'>

### 3. List comprehensions

List comprehensions can sometimes make your code cleaner, easier to read and more efficient.

In [2]:
upTo100 = range(1, 101)

fastList = [i*2 for i in upTo100]

fastList

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

In [124]:
myList = [0, 1, 1, 2, 3, 5, 8.0, "thirteen", [21, "twenty-one"]]

myListTypes2 = [type(myList[i]) for i in range(len(myList))]
myListTypes2

[int, int, int, int, int, int, float, str, list]

#### Condtional logic

In [3]:
conditional_list = list()

for i in range(10):
    if i % 2 == 0:
        conditional_list.append(i**2)
    
conditional_list

[0, 4, 16, 36, 64]

In [4]:
conditional_comprehension = [i**2 for i in range(10) if i%2==0]
conditional_comprehension

[0, 4, 16, 36, 64]

#### Multiple for loops

In [5]:
list_of_lists = [["Ironhack", "Ubiqum"], ["Coding", "Data", "UX"], ["9 weeks", "12 weeks"]]

all_elements = list()

for i in list_of_lists:
    for j in i:
        all_elements.append(j)
        
all_elements

['Ironhack', 'Ubiqum', 'Coding', 'Data', 'UX', '9 weeks', '12 weeks']

In [142]:
schools = ["Ironhack", "Ubiqum"]
courses = ["Coding", "Data", "UX"]
lengths = ["9 weeks", "12 weeks"]

combinations = list()

for school in schools:
    for course in courses:
        for length in lengths:
            if school != "Ubiqum":
                combinations.append(school + " " + course + " " + length)
            
combinations

['Ironhack Coding 9 weeks',
 'Ironhack Coding 12 weeks',
 'Ironhack Data 9 weeks',
 'Ironhack Data 12 weeks',
 'Ironhack UX 9 weeks',
 'Ironhack UX 12 weeks']

In [141]:
combinations_2 = [school + " " + course + " " + length 
                  for school in schools for course in courses for length in lengths
                  if school != "Ubiqum"]

combinations_2

['Ironhack Coding 9 weeks',
 'Ironhack Coding 12 weeks',
 'Ironhack Data 9 weeks',
 'Ironhack Data 12 weeks',
 'Ironhack UX 9 weeks',
 'Ironhack UX 12 weeks']

#### Checking run time

In [120]:
import timeit

comprehension_code = """
big_fast_list = [i**3 for i in range(1, 100000)]
"""

elapsed_time_1 = timeit.timeit(comprehension_code, number=100)/100
print(elapsed_time_1)

0.04696398298998247

In [121]:
forloop_code = """
big_slow_list = []
for i in range(1, 100000):
    big_slow_list.append(i**3)
"""

elapsed_time_2 = timeit.timeit(forloop_code, number=100)/100
print(elapsed_time_2)

0.052992974869994214

In [123]:
# difference of time in percentage
(elapsed_time_2 - elapsed_time_1) / elapsed_time_1 * 100

12.837479907310545

#### Reading multiple files

In [151]:
import os
import pandas as pd

file_list = [f for f in os.listdir() if f.endswith(".csv")]
data_sets = [pd.read_csv(f) for f in file_list]

data = pd.concat(data_sets, axis=0)

In [152]:
data

        col1      col2        col3         col4
0  -0.870275 -1.065854  100.047485  1001.428402
1  -1.175191 -1.437466   98.998930  1000.006935
2  -1.306477  3.359580  101.588352   999.368779
3  -0.732829  0.072575  100.835573   999.834442
4  -1.059474  1.395027   98.538409   998.827163
..       ...       ...         ...          ...
95  0.536720 -0.449630  101.956568  1000.091372
96 -0.547646 -0.417012   99.812171   999.657201
97  1.446165  0.734196  100.914901   999.966755
98 -0.184494 -0.547518   99.867251  1000.625049
99  0.473173 -0.403834  100.678745   998.968778

[400 rows x 4 columns]

In [153]:
selected_cols = [col for col in data if data[col].mean() > 50]
data[selected_cols]

          col3         col4
0   100.047485  1001.428402
1    98.998930  1000.006935
2   101.588352   999.368779
3   100.835573   999.834442
4    98.538409   998.827163
..         ...          ...
95  101.956568  1000.091372
96   99.812171   999.657201
97  100.914901   999.966755
98   99.867251  1000.625049
99  100.678745   998.968778

[400 rows x 2 columns]